@charset "utf-8";

@media screen and (max-width:767px){

  /* 헤더영역 */
  header{
    width:100%;height:110px;
    margin:0px auto;
    position:relative;
  }
  header h1{
    position:absolute;
    top:0%;left:50%;
    transform: translate(-50%,0%);
    box-sizing:border-box;
  }
  .q_bar{
    position:absolute;
    left:80%;top:50px;
  }
  .q_bar > ul > li{padding-right:10px;}
  .q_bar > ul > li > a img{width:30px;}

  .gnb{
    position:fixed;
    width:100%;height:100%;
    top:0px;right:-100%;
    background-color:rgba(0,0,0,.8);
    transition: 0.5s;
    z-index:1000000000;
  }
  .gnb > ul{
    width:100%;
    position:absolute;
    left:0px;top:100px;
    padding:20px;
    box-sizing: border-box;
    display:block;
  }
  .gnb > ul > li{
    width:100%;
    text-align:center;
    }
  .gnb > ul > li > a{
    display:block;
    font-size:20px;
    font-weight:bold;
    line-height:50px;
    padding:3px;
    color:#fff;
  }
  .gnb > ul > li:hover > a{
    background-color:#c9c59f;
  }
  .gnb > ul:hover > li > .sub{display:none;}

  .t_btn{
    position:absolute;
    top:50px;left:20px;
    z-index:1000000;
  }
  .t_btn img{width:35px;}

  .q_bar > ul > li > a img{width:35px;}

  #toggle{display:none;}
  .t_btn,.c_btn{display:block;}
  #toggle:checked ~ .gnb{right:0%;}
  i.fa-times{
    display:block;
      position:absolute;
      top:7%;left:7%;
      color:#f2e77e;
      transition:0.5s;
      font-size:35px;
    }
  label[for=toggle]:hover > i.fa-times{transform: rotate(180deg);}

  /* 슬라이드 */
  .slide{
    width:100%;height:550px;
    margin:0px auto;
  }
  .slide > ul > li > a img{
    width:100%;height:550px;
    object-fit:cover;
  }

  /* 이용안내 */
  .info{
    width:100%;height:300px;
    margin:0px auto;
  }
  .info h2, .house h2, .gallery h2, .media h2{
    font-size:23px;
    margin:0px auto;
  }  
  .info h2::before, .info h2::after, .house h2::before, .house h2::after, .gallery h2::before, .gallery h2::after{width:90px;height:3px;}

  .info h2::before, .house h2::before, .gallery h2::before{left:80%;}
  .info h2::after, .house h2::after, .gallery h2::after{right:80%;}


  #info > ul{
    width:100%;
    display:flex;
    justify-content: space-evenly;
  }

  /* 초가집 */
  .house{width:100%;height:3900px;}
  .house h2{margin-bottom:60px;}
  .house > ul{width:100%;}
  .house > ul > li{margin-bottom:70px;}

  /* 초가집 근황 */
  .gallery{width:100%;height:1050px;}
  .gallery > ul{
    width:450px;
    margin:0px auto;
    margin-top:40px;
  }  
  .gallery > ul > li{
    width:200px;
    text-align:center;
  }
  .gallery > ul > li:hover{transform: scale(1.0);}
  .gallery > ul > li > a img{width:200px;}

  /* 미리 만나보는 산골초가펜션 */
  .media{width:100%;height:730px;}
  .media h2::before, .media h2::after{width:90px;height:3px;}
  .media h2::before{left:80%;}
  .media h2::after{right:80%;}
  iframe{width:100%;}

  /* address */
  .footer{width:100%;height:400px;}
  #img02{
    position: absolute;
    top:20px;left:50%;
    transform:translate(-50%,0%);
  }
  #loc{
    width: 300px;
    position: absolute;
    left:50%;top:150px;
    transform:translate(-50%,-50%);
    font-size: 14px;
  }
  #account{
    width:300px;
    position: absolute;
    left:50%; top:230px;
    transform:translate(-50%,-50%);
    font-size: 14px;
  }
  #res{
    width:300px;
    position: absolute;
    left:50%;top:320px;
    transform:translate(-50%,-50%);
    font-size: 14px;
  }

  /* 푸터영역 */
  #add {
    width:100%;height:260px;
  }
  #addre .sns{
    width: 200px;
    position: absolute;
    display: flex;
    top:150px;left:10px;
  }
  #addre .gnb06{
    width:360px;
    position:relative;
    top:30px;left:10px;
    font-size: 13px;
  }
  #addre .gnb06>li{
    width:120px;
    display: inline;
  }

}