@charset "utf-8";

@media screen and (min-width:767px) and (max-width:1024px){

  /* 헤더영역 */
  header{
    width:100%;height:110px;
    margin:0px auto;
    position:relative;
  }
  header h1{
    padding:15px 0px 0px 25px;
    box-sizing:border-box;
  }
  .gnb{
    position:absolute;
    left:18%;top:55px;
  }
  .gnb > ul{width:420px;}
  .gnb > ul > li{width:70px;}
  .gnb > ul > li > a{font-size:17px;}
  .q_bar{
    position:absolute;
    left:71%;top:57px;
  }
  .q_bar > ul > li{padding-right:10px;}
  .q_bar > ul > li > a img{width:35px;}

  /* 슬라이드 */
  .slide{
    width:100%;height:550px;
    margin:0px auto;
  }
  .slide > ul > li > a img{
    width:100%;height:550px;
    object-fit:cover;
  }

  /* 이용안내 */
  .info{
    width:100%;height:300px;
    margin:0px auto;
  }
  .info h2,.house h2, .gallery h2, .media h2{
    font-size:23px;
    margin:0px auto;
  }
  .info h2::before, .info h2::after, .house h2::before, .house h2::after, .gallery h2::before, .gallery h2::after{width:200px;height:3px;}
  #info > ul{
    width:100%;
    display:flex;
    justify-content: space-evenly;
  }

  /* 초가집 */
  .house{width:100%;height:2000px;}
  .house h2{margin-bottom:60px;}
  .house > ul{width:100%;}

  /* 초가집 근황 */
  .gallery{width:100%;height:1250px;}
  .gallery > ul{width:100%;}
  .gallery > ul > li:hover{transform: scale(1.0);}

  /* 미리 만나보는 산골초가펜션 */
  .media{width:100%;height:730px;}
  .media h2::before, .media h2::after{width:160px;height:3px;}
  .media h2::before{left:70%;}
  .media h2::after{right:70%;}
  iframe{width:100%;}

  /* address */
  .footer{width:100%;height:250px;}
  #loc{
    width: 300px;
    position: absolute;
    left:450px;top: 15px;
    font-size: 14px;
  }
  #account{
    width:300px;
    position: absolute;
    left:50px; top:130px;
    font-size: 14px;
  }
  #res{
    width:300px;
    position: absolute;
    left:450px;top:130px;
    font-size: 14px;
  }

  /* 푸터영역 */
  #add {
    width:100%;height:130px;
  }
  
}